@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Rouge+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

$primary-color: #292929;
$secondary-color: #ffffff;
$accent-color: #e995a9;
$grey: #EEEEEE;

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: $accent-color;
    border-radius: 10px;
}

@mixin main-box-sizing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2.5vw;

    @media (max-width: 440px) {
        padding: 1.5vw;
    }
}

@mixin shadow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

@mixin center-style {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    display: inline-block;
    font-size: 5vw;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 0.25vw;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'Albert Sans', sans-serif;
    color: $primary-color;
    font-size: 3vw;
    font-weight: 400;
    letter-spacing: .1vw;
    text-transform: uppercase;
}

h3 {
    font-size: 2.2vw;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 0.25vw;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 500;
}

h4 {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    color: $accent-color;
}

h5 {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-size: 6vw;
    letter-spacing: 1vw;
    font-style: normal;
    text-transform: lowercase;
}

h6 {
    font-family: Poppins;
    color: $primary-color;
    font-size: .8vw;
    font-weight: 500;
}

p {
    font-family: Poppins;
    color: $primary-color;
    font-size: 1vw;
}

a {
    font-family: Poppins;
    color: $primary-color;
    font-size: 1.2vw;
    text-decoration: none;
    cursor: url('../public/images/grab-cursor.png'), auto;
}

.main-button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    --primary-color: #000;
    /* Your primary color */
    --hovered-color: #e995a9;
    /* Pink hover color */
    position: relative;
    display: inline-flex;
    align-items: center;

    a {
        margin: 0;
        color: var(--primary-color);
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease;

        &:hover {
            color: var(--hovered-color);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background: var(--hovered-color);
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }

        /* Active link styling */
        &.active {
            color: var(--hovered-color);
            /* Solid pink text */
        }

        &.active::after {
            width: 100%;
            /* Full underline */
        }
    }
}


.hidden {
    display: none;
}

.extended-title {
    padding-top: 5vw
}

nav {
    @include main-box-sizing;
    justify-content: space-between;
    background-color: $secondary-color;
    padding: 2rem 3vw;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

header {
    @include main-box-sizing;
    height: 98vh;
    gap: 4vw;
}

.gradient-section {
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-text--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: top center;
        background-size: cover;
        width: 100%;
        height: 100%;
        gap: 1vw;
        z-index: 10;
        width: 100%;
        height: 50vw;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        font-size: 96px;
        color: white;
        user-select: none;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.1);

         .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateY(-50px);
            overflow: hidden;
            font-weight: 500;
            width: 40vw;
            text-align: center;
            padding-top: 4vw;
            gap: 2vw;
        }

         .title span {
            display: inline-block;
            font-size: 5vw;
            color: $primary-color;
            text-transform: uppercase;
            transform: translateX(-100%);
            animation: byBottom 1s ease both;
            font-weight: 600;
            letter-spacing: 0.25vw;
        }

         .title span:last-child {
            font-size: 1vw;
            animation: byBottom 1s 0.25s ease both;
        }

         .title span a {
            position: relative;
            display: inline-block;
            margin-left: 0.5vw;
            text-decoration: none;
            font-size: 2vw;
            text-transform: lowercase;
            font-family: "Rouge Script", cursive;
            color: #ff3e68;
            cursor: auto;
        }

         .title span a::after {
            content: "";
            height: .51vw;
            background-color: #ff6083;
            position: absolute;
            bottom: -15%;
            left: -2%;
            width: 100%;
            animation: linkAfter 0.9s 1s ease both;
        }

        @-moz-keyframes byBottom {
            0% {
                transform: translateY(150%);
            }

            100% {
                transform: translateY(0);
            }
        }

        @-webkit-keyframes byBottom {
            0% {
                transform: translateY(150%);
            }

            100% {
                transform: translateY(0);
            }
        }

        @-o-keyframes byBottom {
            0% {
                transform: translateY(150%);
            }

            100% {
                transform: translateY(0);
            }
        }

        @keyframes byBottom {
            0% {
                transform: translateY(150%);
            }

            100% {
                transform: translateY(0);
            }
        }

        @-moz-keyframes linkAfter {
            0% {
                width: 0;
            }

            100% {
                width: 30px;
            }
        }

        @-webkit-keyframes linkAfter {
            0% {
                width: 0;
            }

            100% {
                width: 30px;
            }
        }

        @-o-keyframes linkAfter {
            0% {
                width: 0;
            }

            100% {
                width: 30px;
            }
        }

        @keyframes linkAfter {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }


        .header-links--container {
            @include main-box-sizing;
            flex-wrap: wrap;
            padding: 0;
            gap: 5vw;
            transform: translateX(-100%);
            animation: byBottom 1s ease both;

            .header-links {
                --hovered-color: #e76a87;
            }
        }
    }
  }
  
  :root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 90%;
    --blending: hard-light;
  }
  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  
  .gradient-bg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, rgb(255, 213, 229), rgb(255, 205, 205));
    top: 0;
    left: 0;
  
    svg {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }
  
    .gradients-container {
      filter: url(#goo) blur(40px);
      width: 100%;
      height: 100%;
    }
  
    .g1,
    .g2,
    .g3,
    .g4,
    .g5 {
      position: absolute;
      background: radial-gradient(circle at center, 
      rgb(240 108 255 / 0.8) 0, 
      rgba(var(--color1), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(10% - var(--circle-size) / 2);
      left: calc(20% - var(--circle-size) / 2);
      opacity: 1;
      transform-origin: center;
    }

    .interactive {
      position: absolute;
      background: radial-gradient(circle at center, 
      rgb(240 108 255 / 0.8) 0, 
      rgba(var(--color1), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(0% - var(--circle-size) / 2);
      left: calc(0% - var(--circle-size) / 2);
      opacity: 1;
      transform-origin: center;
    }
  
    .g1 {
        background: radial-gradient(circle at center, rgba(255, 255, 255, 0.644) 0, rgba(var(--color1), 0) 50%);
        animation: moveVertical 15s ease infinite;
    }
  
    .g2 {
        background: radial-gradient(circle at center, rgba(255, 164, 207, 0.945) 0, rgba(var(--color4), 0) 50%);
      transform-origin: calc(50% - 400px);
      animation: moveInCircle 20s reverse infinite;
    }
  
    .g3 {
        background: radial-gradient(circle at center, rgba(255, 147, 143, 0.747) 0, rgba(var(--color4), 0) 50%);
      transform-origin: calc(50% + 400px);
      animation: moveInCircle 20s linear infinite;
    }
  
    .g4 {
        background: radial-gradient(circle at center, rgba(255, 147, 143, 0.747) 0, rgba(var(--color4), 0) 50%);
      transform-origin: calc(50% - 100px);
      animation: moveHorizontal 20s ease infinite;
    }
  
    .g5 {
        background: radial-gradient(circle at center, rgba(255, 157, 190, 0.959) 0, rgba(var(--color3), 0) 50%);
      width: calc(var(--circle-size) * 2);
      height: calc(var(--circle-size) * 2);
      transform-origin: calc(60% - 300px) calc(40% + 400px);
      animation: moveInCircle 15s ease infinite;
    }
  
    .interactive {
      background: radial-gradient(circle at center, rgba(242, 123, 255, 0.8) 0, rgba(var(--color-interactive), 0) 50%);
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }
}

.sticker{
    position: relative;
    img{
        position: absolute;
        right: 0;
        width: 17vw;
        margin-right: 2vw;
        z-index: 5;
    }
}

// ___________________________________ //
// ___________ QUICK LINKS ___________ //
// ___________________________________ //

.quick-link--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    width: 100%;
    padding: 1vw 5vw;

    .quick-link--box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        width: 30%;
        background-color: #ffffff;
        border-radius: 2vw;
        padding: 2vw;
        gap: 1vw;
        transition: all .2s ease-in-out;

        img {
            border-radius: inherit;
            width: 85%;
        }

        h3 {
            color: $primary-color;
        }
    }

    .main-link:hover:nth-child(1) {
        transform: translateY(-60px) rotate(-5deg);
    }

    .main-link:hover:nth-child(2) {
        transform: translateY(-60px);
    }

    .main-link:hover:nth-child(3) {
        transform: translateY(-60px) rotate(5deg);
    }
}

// ___________________________________ //
// ____________ SECTIONS _____________ //
// ___________________________________ //

.content-section {
    width: 100%;
    z-index: 5;

    h3 {
        text-align: center;
        color: #ffffff;
    }

    .content-section--wave {
        display: flex;
        background: transparent;
        margin-bottom: -1px;
    }

    .section-content--container {
        display: flex;
        flex-direction: column;
        padding: 3vw;
        align-items: center;
        width: 100%;

    }

    .practical-examples {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 5vw 10vw;
        justify-content: space-between;
        row-gap: 5vw;
    }

    .extended-content--container {
        padding-bottom: 0;
    }

    .minimised-container {
        padding-top: 0;
    }
}

.pinned-blog {
    .section-content--container {
        .text-overlay--title {
            h5 {
                color: #ffdada;
            }
        }
    }
}

.pink-section {
    .content-section--wave svg {
        fill: #ffdada;
    }

    .section-content--container {
        background-color: #ffdada;

        .text-overlay--title {
            h5 {
                color: #ffffff;
            }
        }
    }
}

.white-section {
    .content-section--wave svg {
        fill: #ffffff;
        background-color: #ffdada;
    }

    .section-content--container {
        background-color: #ffffff;

        .text-overlay--title {
            h5 {
                color: #f7a8ba88;
            }
        }
    }
}

.stardew-project--container {
    padding-top: 4vw;
  }
  
  .analytics-section {
    position: relative;
    width: 100%;
    padding: 3vw 7vw;
  
    .analytics-image {
      float: right;
      margin-left: 5vw;
      margin-bottom: 5vw;
      border-radius: 50%;
      background-color: #ffdada;
  
      img {
        width: 35vw;
      }
    }
  
    .analytics-container {
      display: block;
      padding: 2vw;
  
      h3 {
        color: #000;
        text-align: start;
        margin-bottom: 1.5vw;
      }

      .main-button{
        margin-bottom: 1.5vw;
      }
  
      p {
        margin-bottom: 1.5vw;
      }
  
      .quote {
        font-style: italic;
        margin-top: 1vw;
      }
  
      .analytics-content {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 3vw;
        margin-top: 2vw;
  
        .analytics {
          background-color: $accent-color;
          padding: 0vw 2.5vw;
          border-radius: 2vw 2vw 2vw 0;
  
          h4, p{
            color: #fff;
          }

        }
      }
    }
  }
  

// .stardew-project--container{
//     padding-top: 4vw;
// }

// .analytics-section {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: row-reverse;
//     width: 100%;
//     padding: 3vw;
//     gap: 3vw;
//     .analytics-image{
//         background-color: #ffdada;
//         border-radius: 50%;
//         img{
//             width: 40vw;
//         }
//     }
//     .analytics-container{
//         display: flex;
//         flex-direction: column;
//         gap: 3vw;
//         padding: 2vw;
//         height:80%;
//         width: 50%;
//         .quote{
//             font-style: italic;
//         }
//         h3{
//             color: #000;
//             text-align: start;
//         }
//         .analytics-content{
//             display: flex;
//             align-items: center;
//             text-align: center;
//             gap: 3vw;
//             .analytics{
//                 background-color: $accent-color;
//                 padding: 1vw 2vw;
//                 border-radius: 2vw 2vw 2vw 0;
//                 p, h4{
//                     color: white;
//                 }
//             }
//         }
//     }
// }

.text-overlay--title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-overlay--title h2,
.text-overlay--title h5 {
    position: absolute;
    margin: 0;
    text-align: center;
}

.text-overlay--title h2 {
    color: $primary-color;
    z-index: 2;
}

.text-overlay--title h5 {
    z-index: 1;
    margin-bottom: 1.5vw;
}

// ___________________________________ //
// ___________ TEXT SCROLL ___________ //
// ___________________________________ //

.text-scroll-container {
    width: 100%;
    height: 6vw;
    margin-top: 5vw;
    overflow: hidden;
    position: relative;

    .text-scroll {
        display: flex;
        gap: 2vw;
        white-space: nowrap;
        position: absolute;
        animation: scroll-left 25s linear infinite;

        .text {
            padding: 1vw 1.5vw;
            font-size: 2vw;
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            background-color: $primary-color;
            border-radius: .5vw;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .text:nth-child(6n+1) {
            background-color: #fac3c1;
        }

        .text:nth-child(6n+2) {
            background-color: #ffaa83;
        }

        .text:nth-child(6n+3) {
            background-color: #ff9595;
        }

        .text:nth-child(6n+4) {
            background-color: #ee7664;
        }

        .text:nth-child(6n+5) {
            background-color: #F3E0D1;
            color: $primary-color;
        }

        .text:nth-child(6n+6) {
            background-color: #ce5d70;
        }
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

// ___________________________________ //
// _____________ PROJECTS ____________ //
// ___________________________________ //

.populated-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    column-gap: 2vw;
    row-gap: 5vw;
    width: 100%;
    padding: 5vw;

    .project-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        padding-bottom: 1vw;
        border-radius: 1vw;
        gap: 1vw;
        height: 27vw;
        width: 100%;

        .image-wrapper {
            width: 100%;
            height: 80%;
            overflow: hidden;
            border-radius: inherit;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
                transition: transform 0.4s ease;
            }
        }

        .row {
            display: flex;
            align-items: flex-end;
            gap: 1vw;

            object a {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 0 5px;
                background-color: #ffdadacc;
                font-family: Poppins;
                color: $primary-color;
                font-size: .8vw;
                font-weight: 500;
            }
        }

        &:hover img {
            transform: scale(1.1);
        }

        p {
            position: relative;
        }

        p::after {
            content: '';
            position: absolute;
            height: 3px;
            left: 0;
            bottom: 0;
            width: 0;
            background-color: $accent-color;
            transition: all .2s ease-in-out;
        }

        &:hover p::after {
            width: 100%;
        }
    }
}

// ___________________________________ //
// _________ SINGLE PROJECT __________ //
// ___________________________________ //

.single-page--header--container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 38vw;

    .single-page--header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2vw 4vw;
        width: 50%;
        gap: 2vw;

        h1,
        p {
            width: 70%;
        }

        .project-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .project-tags-icons {
                color: $primary-color;
                padding: 5px 10px;
                border-radius: 5px;
                text-transform: uppercase;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                font-family: Poppins;
                color: $primary-color;
                font-size: 1vw;
            }

            .project-tags-icons:nth-child(6n+1) {
                background-color: #748982;
                color: $grey;
            }

            .project-tags-icons:nth-child(6n+2) {
                background-color: #D2D2AF;
            }

            .project-tags-icons:nth-child(6n+3) {
                background-color: #D3E1D4;
            }

            .project-tags-icons:nth-child(6n+4) {
                background-color: #F6AB6A;
            }

            .project-tags-icons:nth-child(6n+5) {
                background-color: #ECD7C4;
            }

            .project-tags-icons:nth-child(6n+6) {
                background-color: #293030;
                color: $grey;
            }
        }

        .project-navigation-container {
            height: 5vw;
            @include main-box-sizing;
            padding: 2.5vw 0;
            flex-direction: row;
            justify-content: space-between;

            .page-nav-arrows {
                display: flex;
                align-items: center;
                width: 30%;
                height: 100%;
                gap: 5vw;

                .previous-arrow,
                .next-arrow {
                    cursor: url('../public/images/grab-cursor.png'), auto;
                }
            }
        }
    }

    .image-wrapper {
        padding: 2vw;
        width: 50%;
        height: inherit;

        img {
            height: 100%;
            width: 100%;
            border-radius: 1vw;
            object-fit: cover;
        }
    }
}

.single-page--gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1vw;
    width: 100%;
    padding: 5vw 10vw 0 10vw;

    img {
        width: 100%;
        height: 17vw;
        border-radius: 1vw;
        object-fit: cover;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
    }
}

.pink-section .single-page--about--container {
    gap: 2vw;
    padding-bottom: 0;

    .product-filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 3vw;
        gap: 2vw;
    }

    .main-button {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        cursor: pointer;
        --primary-color: #000;
        /* Your primary color */
        --hovered-color: #e995a9;
        /* Pink hover color */
        position: relative;
        display: inline-flex;
        align-items: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .filter-link {
        margin: 0;
        color: var(--primary-color);
        text-decoration: none;
        position: relative;
        padding: 0.5rem 1rem;
        transition: color 0.3s ease;

        &:hover {
            color: var(--hovered-color);
            transform: translateY(-4px);
            /* Slightly raise the button on hover */
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: .15vw;
            background: var(--hovered-color);
            transition: width 0.5s ease;
        }

        &:hover::after {
            width: 100%;
        }

        &.active {
            color: var(--hovered-color);
            /* Solid pink text */
            transform: translateY(-4px);
            /* Keep it raised after click */
        }

        &.active::after {
            width: 100%;
            /* Full underline */
        }
    }

    .product-dynamic-content {
        display: flex;
        justify-content: center;

        p {
            width: 85%;
        }
    }
}

.single-page--details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 4vw;
    padding: 2vw 2vw 8vw 2vw;
    background-color: #ffdada;

    .card {
        position: relative;
        width: 25%;
        height: 20vw;
        background-color: #ffc0b9;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .card__content {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: #fff;
        padding: 20px;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .card:hover {
        transform: rotate(-5deg) scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .card img {
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 100%;
        height: 100%;

        opacity: 0;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .card:hover img {
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 1;
    }

    h3,
    p {
        color: $primary-color;
        padding: 1vw;
    }

    .card:hover .card__content {
        scale: 0;
        transform: rotate(-45deg);
    }

}

// ___________________________________ //
// ______________ BLOG _______________ //
// ___________________________________ //

.blog-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .blog-item--container {
        display: flex;
        width: 100%;

        .pinned-icon {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1vw;
            border-radius: 2vw;
            background-color: $accent-color;
            color: $secondary-color;
            font-size: 1vw;
        }

        .blog-image--container {
            width: 40%;
            padding: 1vw;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .blog-content--text {
            display: flex;
            flex-direction: column;
            padding: 2vw;
            width: 80%;
            gap: 2vw;

            .blog-content--titles {
                display: flex;
                flex-direction: column;
                gap: 1vw;
            }

            .blog-date {
                display: flex;
                width: 100%;
                justify-content: flex-end;
            }
        }
    }

    .pink-section {
        .content-section--wave {
            path {
                fill: #ffdada;
            }
        }

        .section-content--container {
            background-color: #ffdada;
        }
    }

    .blue-section {
        .content-section--wave {
            background-color: #ffdada;

            path {
                fill: #ffffff;
            }
        }

        .section-content--container {
            background-color: #ffffff;

            .text-overlay--title {
                h5 {
                    color: #ffdada;
                }
            }
        }
    }
}

// ___________________________________ //
// ___________ DISCLAIMER ____________ //
// ___________________________________ //

.icon-container {
    position: fixed;
    bottom: 2vw;
    right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vw;
    z-index: 900;
}

.jumping-icon {
    height: inherit;
    cursor: pointer;
    animation: bounce 1.5s ease infinite;
}

.jumping-icon.stopped {
    animation: none;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5vw;
    position: absolute;
    bottom: 0vw;
    right: 5vw;
    padding: 1.5vw;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 60vw;
    cursor: url('../public/images/grab-cursor.png'), auto;
    z-index: 900;

    h3 {
        color: $primary-color;
    }

    .ignore-title {
        font-size: 1.5vw;
        color: $accent-color;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-1vw);
    }

    60% {
        transform: translateY(-0.5vw);
    }
}

// ___________________________________ //
// _____________ FOOTER ______________ //
// ___________________________________ //

footer {
    @include main-box-sizing;
    flex-direction: column;
    padding-bottom: 0;
    width: 100%;

    .page-break--line {
        padding: 3vw 0 0 0;
    }

    .footer--container {
        @include main-box-sizing;
        justify-content: space-between;
        width: 100%;
        padding: 3vw 0 3vw 0;

        .footer-socials--container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1vw;
        }

        .copyright {
            cursor: default;
        }
    }
}

// ----------------------------------------- PAGE 2 PROJECTS

.back-button {
    @include main-box-sizing;
    justify-content: flex-start;
    margin-top: 6vw;
    padding: 0 3vw;
}

.projects-header {
    flex-direction: column;
    padding: 2vw 15vw;
    padding-top: 7%;
    height: 50vw;
    background-image: url(../public/images/graphics.webp);

    .header-border--block {
        background-position: center;
        background-size: cover;
    }

    .text-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: 2vw;
        background-color: $secondary-color;
        padding: 0 10vw;
        height: 30vw;
        gap: 2vw;

        .header-surtitle {
            text-transform: uppercase;
        }

        h2 {
            line-height: 4vw;
        }

        span {
            font-family: "Rouge Script", cursive;
            text-transform: lowercase;
            font-size: 5vw;
            color: $accent-color;
        }
    }
}

// mini exercises

.calculator {
    background-color: rgb(255, 229, 229);
    width: 40%;
    border: 1px solid #ce9696;
    border-radius: 5px;
    padding: 20px 20px 50px 20px;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 25px 15px;
    font-size: 20px;
    border-radius: 15px;
    border: 5px solid #ebafa8;
}

.key-container {
    display: flex;
    columns: 2;
    gap: 15px;
    background-color: #ffeeec;
    width: 100%;
}

.keys {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    width: 40%;
}

.number-keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 60%;
}

.keys button {
    position: relative;
    border: none;
    background: #ffa89e;
    color: #fff;
    font-size: 1vw;
}

button {
    position: relative;
    border: none;
    background: #ffc0b9;
    color: #fff;
    padding: 1em;
    font-weight: bold;
    font-size: 1.5vw;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: #d47b72 0px 7px 2px, #000 0px 8px 5px;

    &:hover {
        opacity: 1;
    }

    &:active {
        top: 4px;
        box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
    }
}

#calculate {
    grid-area: 4 / 1 / 5 / 3;
}

#zero {
    grid-area: 4 / 2 / 5 / 3;
}

//   COLOR PICVKER !!!
.color-picker {
    width: 40%;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1vw;

    .picker-container {
        display: flex;
        justify-content: center;

        .chrome-picker {
            width: 100% !important;
            /* Ensure picker fits the container */
            border-radius: 5px;
            box-shadow: none;
        }
    }

    .color-display,
    .rgba-display {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3vw;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #ccc;
        font-size: 1vw;
        color: #333;
        text-align: center;
    }
}

//   CLOCK !!!
.clock {
    width: 45%;
    max-width: 100%;
    padding: 3rem 2vw;
    border: 2px solid #333;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .clock-time {
        font-size: 3.5vw;
        font-family: 'Courier New', Courier, monospace;
        color: #333;
        margin-bottom: 2vw;
    }

    .clock-controls {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2vw;
        width: 100%;

        .clock-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5vw;
            width: 100%;
            max-width: 9vw;
            height: 4.5vw;
            border: none;
            border-radius: 0.5vw;
            color: transparent;
            font-size: 1.5vw;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            cursor: pointer;
            background-size: cover;
            background-position: center;
        }

        .clock-button:hover {
            background: #ffa89e;
            transition: all 1s ease;
            color: $grey;
        }

        .tokyo {
            background-image: url('../public/images/flags/japan.png');
        }

        .beijing {
            background-image: url('../public/images/flags/china.png');
        }

        .delhi {
            background-image: url('../public/images/flags/india.webp');
        }

        .moscow {
            background-image: url('../public/images/flags/russia.png');
        }

        .sydney {
            background-image: url('../public/images/flags/aussie.png');
        }

        .newyork {
            background-image: url('../public/images/flags/usa.webp');
        }

        .paris {
            background-image: url('../public/images/flags/france.png');
        }

        .london {
            background-image: url('../public/images/flags/uk.webp');
        }

        .auckland {
            background-image: url('../public/images/flags/nz.png');
        }
    }
}



// ---------------------------------BLOG PAGE 3
// .blog-results {
//     display: flex;
//     flex-direction: column;
//     gap: 5vw;
// }

// .blog-container {
//     @include main-box-sizing;
//     flex-direction: column;
//     gap: 5vw;

//     .blog-item--container {
//         @include main-box-sizing;
//         justify-content: space-between;
//         background-color: $grey;
//         width: 100%;
//         gap: 3vw;

//         .pinned-icon {
//             position: absolute;
//             @include center-style;
//             height: 50px;
//             width: 50px;
//             background-color: $accent-color;
//             border-radius: 50%;
//             top: 22vh;
//             right: 5vw;

//             .fa-solid {
//                 color: $secondary-color;
//                 font-size: 20px;
//             }
//         }

//         .blog-content--titles {
//             @include main-box-sizing;
//             flex-direction: column;
//             align-items: flex-start;
//             padding: 0;
//             width: 40%;
//             gap: 2vw;

//             .blog-image--container {
//                 width: 100%;
//                 background-size: cover;
//             }

//             .pinned-image {
//                 height: 60vh;
//                 background-image: url(../public/images/myblog.webp);
//             }
//         }

//         .blog-content--text {
//             @include center-style;
//             flex-direction: column;
//             justify-content: space-between;
//             text-align: start;
//             gap: 2vw;
//             padding: 0;
//             width: 60%;

//             .blog-date {
//                 @include center-style;
//                 justify-content: flex-end;
//                 width: 100%;

//                 h6 {
//                     text-align: end;
//                 }
//             }
//         }
//     }
// }

.graphics-header {
    height: 30vw;

    .single-page--header {
        height: 100%;

        p {
            width: 100%;
        }

        .row {
            justify-content: center;
            display: flex;
            align-items: center;

            img {
                width: 50%;
            }
        }
    }

    .image-wrapper {
        height: auto;

        img {
            height: 80%;
        }
    }
}

.content-section {
    .graphics-populated-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 4vw;
        padding: 2vw 2vw 8vw 2vw;
    }

    .graphics-items {
        .card {
            position: relative;
            width: 20vw;
            height: 20vw;
            background-image: url(../public/images/scrap-one.webp);
            background-size: cover;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        }

        .card__content {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color: #fff;
            padding: 20px;
            object-fit: cover;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        }

        .card:hover {
            transform: rotate(-5deg) scale(1.1);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        .card .back-img {
            position: absolute;
            top: 50%;
            left: 50%;
            object-fit: cover;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 100%;
            height: 100%;

            opacity: 0;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        }

        .card:hover .back-img {
            transform: translate(-50%, -50%) rotate(0deg);
            opacity: 1;
        }

        .card:hover .card__content {
            scale: 0;
            transform: rotate(-45deg);
        }
    }
}

@media (max-width: 1200px) {

    .single-page--gallery {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .main-links--container {
        gap: 3vw;
    }

    .main-links--container .main-link--box {
        height: 45vh;
    }

    .text {
        font-size: 4vw;
        /* Smaller font size for larger tablets */
        margin-right: 1.5vw;
    }

    .projects-items--container {
        grid-template-columns: repeat(2, 1fr);
    }

    .clock {
        padding: 2.5rem 1.5vw;

        .clock-time {
            font-size: 3vw;
        }

        .clock-controls {
            gap: 1.5vw;

            .clock-button {
                padding: 1.25vw;
                max-width: 8vw;
                height: 4vw;
                font-size: 1.25vw;
            }
        }
    }

    .calculator {
        width: 42vw;
    }

    .populated-items {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .gradient-section{
        .header-text--container{
            .title{
                padding-top: 10vw;
            }
        }
    }
}

@media only screen and (max-width: 992px) {

    h6 {
        font-size: 1.2vw;
    }

    p {
        font-size: 1.8vw;
    }

    a {
        font-size: 2.2vw;
    }

    .gradient-section{
        .header-text--container{
            .title{
                padding-top: 15vw;
            }
        }
    }

    .single-page--gallery {
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    }

    .single-page--details {
        gap: 2vw;

        .card {
            width: 30%;
            height: auto;
        }
    }

    .main-links--container {
        gap: 3vw;

        .main-link--box {
            height: 50vh;
            text-align: center;
        }
    }

    .single-page--header--container {
        height: 45vw;

        .single-page--header {
            width: 60%;

            p {
                width: 100%;
            }
        }

        .image-wrapper {
            width: 40%;
        }
    }

    .populated-items {
        .project-item {
            height: 50vw;

            .row {
                object a {
                    font-size: 1.2vw;
                }
            }
        }
    }

    .calculator {
        width: 36vw;

        .key-container {
            flex-direction: column;

            .number-keys {
                width: 100%;
                grid-template-columns: repeat(5, 1fr);

                .number {
                    font-size: 1vw;
                }
            }

            .keys {
                grid-template-columns: repeat(3, 1fr);
                width: 100%;
            }
        }
    }

    .message-container {
        width: 45vw;

        h3 {
            color: $primary-color;
        }
    }
}

@media only screen and (max-width: 768px) {

    p {
        font-size: 2vw;
    }

    h6 {
        font-size: 1.8vw;
    }

    nav {
        padding: 1rem 5vw;
    }

    .populated-items {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        .project-item {
            height: 45vw;

            .row {
                object a {
                    font-size: 1.8vw;
                }
            }
        }
    }

    .single-page--header--container {
        flex-direction: column;
        height: auto;

        .single-page--header {
            width: 100%;
            align-items: center;
            text-align: center;
            padding: 7vw;
            gap: 3vw;

            p {
                width: 100%;
            }

            h1 {
                display: flex;
                flex-wrap: wrap;
                width: auto;
            }

            .visible {
                display: none;
            }
        }

        .image-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 50vw;
            img{
                width: 70%;
            }
        }
    }

    .hidden {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vw 0;

        .page-nav-arrows {
            display: flex;
            gap: 10vw;
        }
    }

    header {
        .header-text--container {
            section {
                display: flex;
                justify-content: center;

                .title {
                    width: 80%;

                    span {
                        font-size: 9vw;
                    }
                }
            }

            section .title span:last-child {
                font-size: 2vw;
            }

            section .title span a {
                font-size: 3vw;
            }

            .header-links--container {
                gap: 4vw;

            }
        }
    }

    .projects-items--container .graphic-item {
        height: 40vh;
        padding: 1vw;
    }

    .blog-container{
        .content-section{
            .section-content--container{
                .pinned-icon{
                    padding: 2vw;
                    border-radius: 5vw;
                    font-size: 2vw;
                }
                .blog-item--container{
                    flex-direction: column;
                    .blog-image--container, .blog-content--text{
                        width: 100%;
                        img{
                            height: 45vw;
                            object-fit: cover;
                            object-position: bottom;
                        }
                    }
                }
            }
        }
    }

    .content-section {
        .graphics-populated-items {
            gap: 7vw;
            padding: 5vw 8vw;
        }

        .graphics-items {
            .card {
                width: 45%;
                height: 45vw;
            }
        }
    }

    .clock {
        padding: 1vw;

        .clock-time {
            font-size: 2vw;
        }

        .clock-controls {
            .clock-button {
                padding: 0.75vw;
                max-width: 5.5vw;
                height: 3vw;
                font-size: 1vw;
            }
        }
    }

    .calculator {
        .key-container {
            .number-keys {
                width: 100%;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    .message-container {
        max-width: 32vw;

        h3 {
            color: $primary-color;
        }
    }
}

@media only screen and (max-width: 600px) {

    h6 {
        font-size: 1.8vw;
    }

    .back-button {
        margin-top: 6vw;
    }

    .analytics-section .analytics-container h3{
        font-size: 4vw;
    }

    .single-page--details {
        flex-direction: column;
        padding: 7vw 20vw;
        gap: 3vw;

        .card {
            width: 100%;
            height: auto;
        }
    }

    footer .footer--container {
        flex-direction: column;
        gap: 1vw;
    }

    .scroll {
        height: 15vh;
        font-size: 2vw;
    }

    .content-section {
        .project-previews {
            padding: 4vw 15vw;

            .quick-link--container {
                flex-direction: column;

                .quick-link--box {
                    width: 100%;
                }
            }

            p {
                text-align: center;
            }
        }
    }

    .gradient-section{
        height: 85vw;
        .header-text--container{
            .title{
                padding-top: 15vw;
                width: 80%;

                span {
                    font-size: 10vw;
                }
                span a{
                    font-size: 4vw;
                    margin-left: 2vw;
                }
                span a::after{
                    height: 1vw;
                }
                span:last-child{
                    font-size: 2vw;
                }
            }
        }
    }

    .projects-items--container {
        grid-template-columns: repeat(1, 1fr);

        .project-item {
            height: 41vh;
        }
    }

    .populated-items {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

        .project-item {
            height: 45vw;

            .row {
                object a {
                    font-size: 1.8vw;
                }
            }
        }
    }

    .clock {
        height: 55vh;
        width: 100%;
        padding: 1vw;

        .clock-time {
            font-size: 3.5vw;
        }

        .clock-controls {
            grid-template-rows: repeat(5, 1fr);
            align-items: center;
            gap: 1vw;
            height: 100%;

            .clock-button {
                padding: 0.5vw;
                max-width: 12vw;
                height: 90%;
                font-size: 0.875vw;
            }
        }
    }

    .calculator {
        width: 100%;

        .key-container {
            .keys {
                #calculate {
                    grid-area: 4 / 1 / 3 / 4;
                }
            }
        }
    }

    .color-picker {
        width: 100%;
    }

    .message-container {
        width: 23vw;

        h3 {
            color: $primary-color;
        }
    }
}


@media only screen and (max-width: 440px) {

    a {
        font-size: 3.8vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 3vw;
    }

    h5 {
        font-size: 10vw;
    }

    h6 {
        font-size: 1.8vw;
    }

    p {
        font-size: 2.8vw;
    }

    .populated-items {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 5vw 10vw;
        row-gap: 12vw;

        .project-item {
            height: 70vw;

            .row {
                object a {
                    font-size: 1.8vw;
                }
            }
        }
    }

    @mixin main-box-sizing {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 2vw;
    }

    nav {
        .nav {
            align-items: flex-start;
        }
    }

    header {
        height: 140vw;
        padding: 4vw;

        .header-text--container {
            padding-top: 9vh;

            section {
                .title {
                    width: 90%;

                    span {
                        font-size: 12vw;
                    }
                }
            }

            section .title span:last-child {
                font-size: 3vw;
            }

            section .title span a {
                font-size: 6vw;
                margin-left: 2vw;
            }

            section .title span a::after {
                height: 1.3vw;
                bottom: -10%;
            }

            .header-links--container {
                gap: 9vw;

                .header-links a {
                    font-size: 5vw;
                }
            }
        }
    }

    .gradient-section{
        height: 120vw;
        .header-text--container{
            height: 65vw;
            margin-top: 10vh;
            .title{
                width: 80%;

                span {
                    font-size: 10vw;
                }
                span a{
                    font-size: 4vw;
                    margin-left: 2vw;
                }
                span a::after{
                    height: 1vw;
                }
                span:last-child{
                    font-size: 2vw;
                }
            }
        }
    }
    
    .content-section {
        .section-content--container {
            padding: 8vw;
        }
    }

    // --------------
    .projects-items--container {
        .project-item {
            height: 28vh;
        }
    }

    .projects-header {
        height: 85vw;
        padding-top: 18vw;

        .text-block {
            height: 55vw;
            gap: 5vw;
            padding: 0 8vw;

            h2 {
                line-height: 5vw;
            }

            span {
                font-size: 7vw;
            }
        }
    }

    .pink-section .single-page--about--container {
        gap: 7vw;

        .product-filters {
            gap: 4vw;

            .filter-link {

                &::after {
                    bottom: -.3vw;
                }

                &.active {
                    transform: translateY(-3vw);
                }

            }

        }

        .product-dynamic-content {
            display: flex;
            justify-content: center;

            p {
                width: 85%;
            }
        }
    }

    .text-scroll-container {
        height: 13vw;
        margin-top: 11vw;

        .text-scroll {
            .text {
                font-size: 4vw;
            }
        }
    }

    .sticker{
        img{
            width: 21vw;
            margin-right: 19vw;
        }
    }

    .stardew-project--container{
        padding: 5vw;
        .analytics-section {
            padding: 3vw;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            .analytics-image{
                background-color: #ffdada;
                border-radius: 50%;
                img{
                    width: 50vw;
                }
            }
            .analytics-container{
                display: flex;
                flex-direction: column;
                gap: 2vw;
                text-align: center;
                .main-button, h3{
                    text-align: center;
                    justify-content: center;
                }
                h3{
                    font-size: 5vw;
                }
                .analytics-content{
                    justify-content: center;
                    .analytics{
                        padding: .5vw 5vw;
                        h4{
                            font-size: 10vw;
                        }
                    }
                }
            }
        }
    }

    .hidden {
        padding: 7vw 0;

        .page-nav-arrows {

            .previous-arrow,
            .next-arrow {
                img {
                    width: 20vw;
                }
            }
        }
    }

    .clock {
        height: 35vh;
        width: 100%;
        padding: 1vw;

        .clock-time {
            font-size: 2.5vw;
        }

        .clock-controls {
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 1vw;
            height: 100%;

            .clock-button {
                padding: 0.5vw;
                max-width: 12vw;
                height: 90%;
                font-size: 0.875vw;
            }
        }
    }

    .calculator {
        margin: 0;

        .key-container {
            .number-keys {
                grid-template-columns: repeat(5, 1fr);

                .number {
                    font-size: 1vw;
                }
            }
        }
    }

    .single-page--gallery {
        gap: 3vw;
    }

    .single-page--gallery img {
        height: 28vw;
    }

    .blog-container{
        .content-section{
            .section-content--container{
                .pinned-icon{
                    padding: 3vw;
                    border-radius: 5vw;
                    font-size: 3vw;
                    left: 5%;
                }
            }
        }
    }

    .page-break--line {
        padding: 1rem 1.5vw;
        width: 100%;
    }

    .title-breaker--container span {
        width: 4vw;
    }

    .message-container {
        width: 15vw;

        h3 {
            color: $primary-color;
        }
    }
}


.disclaimer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3vw;
    z-index: 1000;
  }
  
  .disclaimer-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 3vw;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
    gap: 2vw;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
    h3{
        color: $primary-color;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

