@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Rouge+Script&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e995a9;
  border-radius: 10px;
}

h1 {
  display: inline-block;
  font-size: 5vw;
  color: #292929;
  text-transform: uppercase;
  letter-spacing: 0.25vw;
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Albert Sans", sans-serif;
  color: #292929;
  font-size: 3vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
}

h3 {
  font-size: 2.2vw;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.25vw;
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
}

h4 {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  color: #e995a9;
}

h5 {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-size: 6vw;
  letter-spacing: 1vw;
  font-style: normal;
  text-transform: lowercase;
}

h6 {
  font-family: Poppins;
  color: #292929;
  font-size: 0.8vw;
  font-weight: 500;
}

p {
  font-family: Poppins;
  color: #292929;
  font-size: 1vw;
}

a {
  font-family: Poppins;
  color: #292929;
  font-size: 1.2vw;
  text-decoration: none;
  cursor: url("../public/images/grab-cursor.png"), auto;
}

.main-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  --primary-color: #000;
  /* Your primary color */
  --hovered-color: #e995a9;
  /* Pink hover color */
  position: relative;
  display: inline-flex;
  align-items: center;
}
.main-button a {
  margin: 0;
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  /* Active link styling */
}
.main-button a:hover {
  color: var(--hovered-color);
}
.main-button a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--hovered-color);
  transition: width 0.3s ease;
}
.main-button a:hover::after {
  width: 100%;
}
.main-button a.active {
  color: var(--hovered-color);
  /* Solid pink text */
}
.main-button a.active::after {
  width: 100%;
  /* Full underline */
}

.hidden {
  display: none;
}

.extended-title {
  padding-top: 5vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2.5vw;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 2rem 3vw;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
@media (max-width: 440px) {
  nav {
    padding: 1.5vw;
  }
}
nav .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2.5vw;
  height: 98vh;
  gap: 4vw;
}
@media (max-width: 440px) {
  header {
    padding: 1.5vw;
  }
}

.gradient-section {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient-section .header-text--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  gap: 1vw;
  z-index: 10;
  width: 100%;
  height: 50vw;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
.gradient-section .header-text--container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50px);
  overflow: hidden;
  font-weight: 500;
  width: 40vw;
  text-align: center;
  padding-top: 4vw;
  gap: 2vw;
}
.gradient-section .header-text--container .title span {
  display: inline-block;
  font-size: 5vw;
  color: #292929;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;
}
.gradient-section .header-text--container .title span:last-child {
  font-size: 1vw;
  animation: byBottom 1s 0.25s ease both;
}
.gradient-section .header-text--container .title span a {
  position: relative;
  display: inline-block;
  margin-left: 0.5vw;
  text-decoration: none;
  font-size: 2vw;
  text-transform: lowercase;
  font-family: "Rouge Script", cursive;
  color: #ff3e68;
  cursor: auto;
}
.gradient-section .header-text--container .title span a::after {
  content: "";
  height: 0.51vw;
  background-color: #ff6083;
  position: absolute;
  bottom: -15%;
  left: -2%;
  width: 100%;
  animation: linkAfter 0.9s 1s ease both;
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.gradient-section .header-text--container .header-links--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2.5vw;
  flex-wrap: wrap;
  padding: 0;
  gap: 5vw;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
}
@media (max-width: 440px) {
  .gradient-section .header-text--container .header-links--container {
    padding: 1.5vw;
  }
}
.gradient-section .header-text--container .header-links--container .header-links {
  --hovered-color: #e76a87;
}

:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 90%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, rgb(255, 213, 229), rgb(255, 205, 205));
  top: 0;
  left: 0;
}
.gradient-bg svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.gradient-bg .gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}
.gradient-bg .g1,
.gradient-bg .g2,
.gradient-bg .g3,
.gradient-bg .g4,
.gradient-bg .g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(240, 108, 255, 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(10% - var(--circle-size) / 2);
  left: calc(20% - var(--circle-size) / 2);
  opacity: 1;
  transform-origin: center;
}
.gradient-bg .interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(240, 108, 255, 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(0% - var(--circle-size) / 2);
  left: calc(0% - var(--circle-size) / 2);
  opacity: 1;
  transform-origin: center;
}
.gradient-bg .g1 {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.644) 0, rgba(var(--color1), 0) 50%);
  animation: moveVertical 15s ease infinite;
}
.gradient-bg .g2 {
  background: radial-gradient(circle at center, rgba(255, 164, 207, 0.945) 0, rgba(var(--color4), 0) 50%);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}
.gradient-bg .g3 {
  background: radial-gradient(circle at center, rgba(255, 147, 143, 0.747) 0, rgba(var(--color4), 0) 50%);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 20s linear infinite;
}
.gradient-bg .g4 {
  background: radial-gradient(circle at center, rgba(255, 147, 143, 0.747) 0, rgba(var(--color4), 0) 50%);
  transform-origin: calc(50% - 100px);
  animation: moveHorizontal 20s ease infinite;
}
.gradient-bg .g5 {
  background: radial-gradient(circle at center, rgba(255, 157, 190, 0.959) 0, rgba(var(--color3), 0) 50%);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  transform-origin: calc(60% - 300px) calc(40% + 400px);
  animation: moveInCircle 15s ease infinite;
}
.gradient-bg .interactive {
  background: radial-gradient(circle at center, rgba(242, 123, 255, 0.8) 0, rgba(var(--color-interactive), 0) 50%);
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.sticker {
  position: relative;
}
.sticker img {
  position: absolute;
  right: 0;
  width: 17vw;
  margin-right: 2vw;
  z-index: 5;
}

.quick-link--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  width: 100%;
  padding: 1vw 5vw;
}
.quick-link--container .quick-link--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 30%;
  background-color: #ffffff;
  border-radius: 2vw;
  padding: 2vw;
  gap: 1vw;
  transition: all 0.2s ease-in-out;
}
.quick-link--container .quick-link--box img {
  border-radius: inherit;
  width: 85%;
}
.quick-link--container .quick-link--box h3 {
  color: #292929;
}
.quick-link--container .main-link:hover:nth-child(1) {
  transform: translateY(-60px) rotate(-5deg);
}
.quick-link--container .main-link:hover:nth-child(2) {
  transform: translateY(-60px);
}
.quick-link--container .main-link:hover:nth-child(3) {
  transform: translateY(-60px) rotate(5deg);
}

.content-section {
  width: 100%;
  z-index: 5;
}
.content-section h3 {
  text-align: center;
  color: #ffffff;
}
.content-section .content-section--wave {
  display: flex;
  background: transparent;
  margin-bottom: -1px;
}
.content-section .section-content--container {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  align-items: center;
  width: 100%;
}
.content-section .practical-examples {
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5vw 10vw;
  justify-content: space-between;
  row-gap: 5vw;
}
.content-section .extended-content--container {
  padding-bottom: 0;
}
.content-section .minimised-container {
  padding-top: 0;
}

.pinned-blog .section-content--container .text-overlay--title h5 {
  color: #ffdada;
}

.pink-section .content-section--wave svg {
  fill: #ffdada;
}
.pink-section .section-content--container {
  background-color: #ffdada;
}
.pink-section .section-content--container .text-overlay--title h5 {
  color: #ffffff;
}

.white-section .content-section--wave svg {
  fill: #ffffff;
  background-color: #ffdada;
}
.white-section .section-content--container {
  background-color: #ffffff;
}
.white-section .section-content--container .text-overlay--title h5 {
  color: rgba(247, 168, 186, 0.5333333333);
}

.stardew-project--container {
  padding-top: 4vw;
}

.analytics-section {
  position: relative;
  width: 100%;
  padding: 3vw 7vw;
}
.analytics-section .analytics-image {
  float: right;
  margin-left: 5vw;
  margin-bottom: 5vw;
  border-radius: 50%;
  background-color: #ffdada;
}
.analytics-section .analytics-image img {
  width: 35vw;
}
.analytics-section .analytics-container {
  display: block;
  padding: 2vw;
}
.analytics-section .analytics-container h3 {
  color: #000;
  text-align: start;
  margin-bottom: 1.5vw;
}
.analytics-section .analytics-container .main-button {
  margin-bottom: 1.5vw;
}
.analytics-section .analytics-container p {
  margin-bottom: 1.5vw;
}
.analytics-section .analytics-container .quote {
  font-style: italic;
  margin-top: 1vw;
}
.analytics-section .analytics-container .analytics-content {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 3vw;
  margin-top: 2vw;
}
.analytics-section .analytics-container .analytics-content .analytics {
  background-color: #e995a9;
  padding: 0vw 2.5vw;
  border-radius: 2vw 2vw 2vw 0;
}
.analytics-section .analytics-container .analytics-content .analytics h4, .analytics-section .analytics-container .analytics-content .analytics p {
  color: #fff;
}

.text-overlay--title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-overlay--title h2,
.text-overlay--title h5 {
  position: absolute;
  margin: 0;
  text-align: center;
}

.text-overlay--title h2 {
  color: #292929;
  z-index: 2;
}

.text-overlay--title h5 {
  z-index: 1;
  margin-bottom: 1.5vw;
}

.text-scroll-container {
  width: 100%;
  height: 6vw;
  margin-top: 5vw;
  overflow: hidden;
  position: relative;
}
.text-scroll-container .text-scroll {
  display: flex;
  gap: 2vw;
  white-space: nowrap;
  position: absolute;
  animation: scroll-left 25s linear infinite;
}
.text-scroll-container .text-scroll .text {
  padding: 1vw 1.5vw;
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #292929;
  border-radius: 0.5vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.text-scroll-container .text-scroll .text:nth-child(6n+1) {
  background-color: #fac3c1;
}
.text-scroll-container .text-scroll .text:nth-child(6n+2) {
  background-color: #ffaa83;
}
.text-scroll-container .text-scroll .text:nth-child(6n+3) {
  background-color: #ff9595;
}
.text-scroll-container .text-scroll .text:nth-child(6n+4) {
  background-color: #ee7664;
}
.text-scroll-container .text-scroll .text:nth-child(6n+5) {
  background-color: #F3E0D1;
  color: #292929;
}
.text-scroll-container .text-scroll .text:nth-child(6n+6) {
  background-color: #ce5d70;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.populated-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  row-gap: 5vw;
  width: 100%;
  padding: 5vw;
}
.populated-items .project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  padding-bottom: 1vw;
  border-radius: 1vw;
  gap: 1vw;
  height: 27vw;
  width: 100%;
}
.populated-items .project-item .image-wrapper {
  width: 100%;
  height: 80%;
  overflow: hidden;
  border-radius: inherit;
}
.populated-items .project-item .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  transition: transform 0.4s ease;
}
.populated-items .project-item .row {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
}
.populated-items .project-item .row object a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  background-color: rgba(255, 218, 218, 0.8);
  font-family: Poppins;
  color: #292929;
  font-size: 0.8vw;
  font-weight: 500;
}
.populated-items .project-item:hover img {
  transform: scale(1.1);
}
.populated-items .project-item p {
  position: relative;
}
.populated-items .project-item p::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #e995a9;
  transition: all 0.2s ease-in-out;
}
.populated-items .project-item:hover p::after {
  width: 100%;
}

.single-page--header--container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 38vw;
}
.single-page--header--container .single-page--header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2vw 4vw;
  width: 50%;
  gap: 2vw;
}
.single-page--header--container .single-page--header h1,
.single-page--header--container .single-page--header p {
  width: 70%;
}
.single-page--header--container .single-page--header .project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.single-page--header--container .single-page--header .project-tags .project-tags-icons {
  color: #292929;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Poppins;
  color: #292929;
  font-size: 1vw;
}
.single-page--header--container .single-page--header .project-tags .project-tags-icons:nth-child(6n+1) {
  background-color: #748982;
  color: #EEEEEE;
}
.single-page--header--container .single-page--header .project-tags .project-tags-icons:nth-child(6n+2) {
  background-color: #D2D2AF;
}
.single-page--header--container .single-page--header .project-tags .project-tags-icons:nth-child(6n+3) {
  background-color: #D3E1D4;
}
.single-page--header--container .single-page--header .project-tags .project-tags-icons:nth-child(6n+4) {
  background-color: #F6AB6A;
}
.single-page--header--container .single-page--header .project-tags .project-tags-icons:nth-child(6n+5) {
  background-color: #ECD7C4;
}
.single-page--header--container .single-page--header .project-tags .project-tags-icons:nth-child(6n+6) {
  background-color: #293030;
  color: #EEEEEE;
}
.single-page--header--container .single-page--header .project-navigation-container {
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2.5vw;
  padding: 2.5vw 0;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 440px) {
  .single-page--header--container .single-page--header .project-navigation-container {
    padding: 1.5vw;
  }
}
.single-page--header--container .single-page--header .project-navigation-container .page-nav-arrows {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
  gap: 5vw;
}
.single-page--header--container .single-page--header .project-navigation-container .page-nav-arrows .previous-arrow,
.single-page--header--container .single-page--header .project-navigation-container .page-nav-arrows .next-arrow {
  cursor: url("../public/images/grab-cursor.png"), auto;
}
.single-page--header--container .image-wrapper {
  padding: 2vw;
  width: 50%;
  height: inherit;
}
.single-page--header--container .image-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 1vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-page--gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1vw;
  width: 100%;
  padding: 5vw 10vw 0 10vw;
}
.single-page--gallery img {
  width: 100%;
  height: 17vw;
  border-radius: 1vw;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

.pink-section .single-page--about--container {
  gap: 2vw;
  padding-bottom: 0;
}
.pink-section .single-page--about--container .product-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3vw;
  gap: 2vw;
}
.pink-section .single-page--about--container .main-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  --primary-color: #000;
  /* Your primary color */
  --hovered-color: #e995a9;
  /* Pink hover color */
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pink-section .single-page--about--container .filter-link {
  margin: 0;
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}
.pink-section .single-page--about--container .filter-link:hover {
  color: var(--hovered-color);
  transform: translateY(-4px);
  /* Slightly raise the button on hover */
}
.pink-section .single-page--about--container .filter-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 0.15vw;
  background: var(--hovered-color);
  transition: width 0.5s ease;
}
.pink-section .single-page--about--container .filter-link:hover::after {
  width: 100%;
}
.pink-section .single-page--about--container .filter-link.active {
  color: var(--hovered-color);
  /* Solid pink text */
  transform: translateY(-4px);
  /* Keep it raised after click */
}
.pink-section .single-page--about--container .filter-link.active::after {
  width: 100%;
  /* Full underline */
}
.pink-section .single-page--about--container .product-dynamic-content {
  display: flex;
  justify-content: center;
}
.pink-section .single-page--about--container .product-dynamic-content p {
  width: 85%;
}

.single-page--details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 4vw;
  padding: 2vw 2vw 8vw 2vw;
  background-color: #ffdada;
}
.single-page--details .card {
  position: relative;
  width: 25%;
  height: 20vw;
  background-color: #ffc0b9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.single-page--details .card__content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.single-page--details .card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.single-page--details .card img {
  position: absolute;
  top: 50%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.single-page--details .card:hover img {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}
.single-page--details h3,
.single-page--details p {
  color: #292929;
  padding: 1vw;
}
.single-page--details .card:hover .card__content {
  scale: 0;
  transform: rotate(-45deg);
}

.blog-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blog-container .blog-item--container {
  display: flex;
  width: 100%;
}
.blog-container .blog-item--container .pinned-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  border-radius: 2vw;
  background-color: #e995a9;
  color: #ffffff;
  font-size: 1vw;
}
.blog-container .blog-item--container .blog-image--container {
  width: 40%;
  padding: 1vw;
}
.blog-container .blog-item--container .blog-image--container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-container .blog-item--container .blog-content--text {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  width: 80%;
  gap: 2vw;
}
.blog-container .blog-item--container .blog-content--text .blog-content--titles {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.blog-container .blog-item--container .blog-content--text .blog-date {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.blog-container .pink-section .content-section--wave path {
  fill: #ffdada;
}
.blog-container .pink-section .section-content--container {
  background-color: #ffdada;
}
.blog-container .blue-section .content-section--wave {
  background-color: #ffdada;
}
.blog-container .blue-section .content-section--wave path {
  fill: #ffffff;
}
.blog-container .blue-section .section-content--container {
  background-color: #ffffff;
}
.blog-container .blue-section .section-content--container .text-overlay--title h5 {
  color: #ffdada;
}

.icon-container {
  position: fixed;
  bottom: 2vw;
  right: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5vw;
  z-index: 900;
}

.jumping-icon {
  height: inherit;
  cursor: pointer;
  animation: bounce 1.5s ease infinite;
}

.jumping-icon.stopped {
  animation: none;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5vw;
  position: absolute;
  bottom: 0vw;
  right: 5vw;
  padding: 1.5vw;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 60vw;
  cursor: url("../public/images/grab-cursor.png"), auto;
  z-index: 900;
}
.message-container h3 {
  color: #292929;
}
.message-container .ignore-title {
  font-size: 1.5vw;
  color: #e995a9;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1vw);
  }
  60% {
    transform: translateY(-0.5vw);
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2.5vw;
  flex-direction: column;
  padding-bottom: 0;
  width: 100%;
}
@media (max-width: 440px) {
  footer {
    padding: 1.5vw;
  }
}
footer .page-break--line {
  padding: 3vw 0 0 0;
}
footer .footer--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2.5vw;
  justify-content: space-between;
  width: 100%;
  padding: 3vw 0 3vw 0;
}
@media (max-width: 440px) {
  footer .footer--container {
    padding: 1.5vw;
  }
}
footer .footer--container .footer-socials--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
footer .footer--container .copyright {
  cursor: default;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2.5vw;
  justify-content: flex-start;
  margin-top: 6vw;
  padding: 0 3vw;
}
@media (max-width: 440px) {
  .back-button {
    padding: 1.5vw;
  }
}

.projects-header {
  flex-direction: column;
  padding: 2vw 15vw;
  padding-top: 7%;
  height: 50vw;
  background-image: url(../public/images/graphics.webp);
}
.projects-header .header-border--block {
  background-position: center;
  background-size: cover;
}
.projects-header .text-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 2vw;
  background-color: #ffffff;
  padding: 0 10vw;
  height: 30vw;
  gap: 2vw;
}
.projects-header .text-block .header-surtitle {
  text-transform: uppercase;
}
.projects-header .text-block h2 {
  line-height: 4vw;
}
.projects-header .text-block span {
  font-family: "Rouge Script", cursive;
  text-transform: lowercase;
  font-size: 5vw;
  color: #e995a9;
}

.calculator {
  background-color: rgb(255, 229, 229);
  width: 40%;
  border: 1px solid #ce9696;
  border-radius: 5px;
  padding: 20px 20px 50px 20px;
}

#display {
  width: 100%;
  margin-bottom: 10px;
  padding: 25px 15px;
  font-size: 20px;
  border-radius: 15px;
  border: 5px solid #ebafa8;
}

.key-container {
  display: flex;
  -moz-columns: 2;
       columns: 2;
  gap: 15px;
  background-color: #ffeeec;
  width: 100%;
}

.keys {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  width: 40%;
}

.number-keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  width: 60%;
}

.keys button {
  position: relative;
  border: none;
  background: #ffa89e;
  color: #fff;
  font-size: 1vw;
}

button {
  position: relative;
  border: none;
  background: #ffc0b9;
  color: #fff;
  padding: 1em;
  font-weight: bold;
  font-size: 1.5vw;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  letter-spacing: 1px;
  box-shadow: #d47b72 0px 7px 2px, #000 0px 8px 5px;
}
button:hover {
  opacity: 1;
}
button:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}

#calculate {
  grid-area: 4/1/5/3;
}

#zero {
  grid-area: 4/2/5/3;
}

.color-picker {
  width: 40%;
  padding: 1vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.color-picker .picker-container {
  display: flex;
  justify-content: center;
}
.color-picker .picker-container .chrome-picker {
  width: 100% !important;
  /* Ensure picker fits the container */
  border-radius: 5px;
  box-shadow: none;
}
.color-picker .color-display,
.color-picker .rgba-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1vw;
  color: #333;
  text-align: center;
}

.clock {
  width: 45%;
  max-width: 100%;
  padding: 3rem 2vw;
  border: 2px solid #333;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.clock .clock-time {
  font-size: 3.5vw;
  font-family: "Courier New", Courier, monospace;
  color: #333;
  margin-bottom: 2vw;
}
.clock .clock-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2vw;
  width: 100%;
}
.clock .clock-controls .clock-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vw;
  width: 100%;
  max-width: 9vw;
  height: 4.5vw;
  border: none;
  border-radius: 0.5vw;
  color: transparent;
  font-size: 1.5vw;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
.clock .clock-controls .clock-button:hover {
  background: #ffa89e;
  transition: all 1s ease;
  color: #EEEEEE;
}
.clock .clock-controls .tokyo {
  background-image: url("../public/images/flags/japan.png");
}
.clock .clock-controls .beijing {
  background-image: url("../public/images/flags/china.png");
}
.clock .clock-controls .delhi {
  background-image: url("../public/images/flags/india.webp");
}
.clock .clock-controls .moscow {
  background-image: url("../public/images/flags/russia.png");
}
.clock .clock-controls .sydney {
  background-image: url("../public/images/flags/aussie.png");
}
.clock .clock-controls .newyork {
  background-image: url("../public/images/flags/usa.webp");
}
.clock .clock-controls .paris {
  background-image: url("../public/images/flags/france.png");
}
.clock .clock-controls .london {
  background-image: url("../public/images/flags/uk.webp");
}
.clock .clock-controls .auckland {
  background-image: url("../public/images/flags/nz.png");
}

.graphics-header {
  height: 30vw;
}
.graphics-header .single-page--header {
  height: 100%;
}
.graphics-header .single-page--header p {
  width: 100%;
}
.graphics-header .single-page--header .row {
  justify-content: center;
  display: flex;
  align-items: center;
}
.graphics-header .single-page--header .row img {
  width: 50%;
}
.graphics-header .image-wrapper {
  height: auto;
}
.graphics-header .image-wrapper img {
  height: 80%;
}

.content-section .graphics-populated-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 4vw;
  padding: 2vw 2vw 8vw 2vw;
}
.content-section .graphics-items .card {
  position: relative;
  width: 20vw;
  height: 20vw;
  background-image: url(../public/images/scrap-one.webp);
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.content-section .graphics-items .card__content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.content-section .graphics-items .card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.content-section .graphics-items .card .back-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.content-section .graphics-items .card:hover .back-img {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}
.content-section .graphics-items .card:hover .card__content {
  scale: 0;
  transform: rotate(-45deg);
}

@media (max-width: 1200px) {
  .single-page--gallery {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .main-links--container {
    gap: 3vw;
  }
  .main-links--container .main-link--box {
    height: 45vh;
  }
  .text {
    font-size: 4vw;
    /* Smaller font size for larger tablets */
    margin-right: 1.5vw;
  }
  .projects-items--container {
    grid-template-columns: repeat(2, 1fr);
  }
  .clock {
    padding: 2.5rem 1.5vw;
  }
  .clock .clock-time {
    font-size: 3vw;
  }
  .clock .clock-controls {
    gap: 1.5vw;
  }
  .clock .clock-controls .clock-button {
    padding: 1.25vw;
    max-width: 8vw;
    height: 4vw;
    font-size: 1.25vw;
  }
  .calculator {
    width: 42vw;
  }
  .populated-items {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .gradient-section .header-text--container .title {
    padding-top: 10vw;
  }
}
@media only screen and (max-width: 992px) {
  h6 {
    font-size: 1.2vw;
  }
  p {
    font-size: 1.8vw;
  }
  a {
    font-size: 2.2vw;
  }
  .gradient-section .header-text--container .title {
    padding-top: 15vw;
  }
  .single-page--gallery {
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  }
  .single-page--details {
    gap: 2vw;
  }
  .single-page--details .card {
    width: 30%;
    height: auto;
  }
  .main-links--container {
    gap: 3vw;
  }
  .main-links--container .main-link--box {
    height: 50vh;
    text-align: center;
  }
  .single-page--header--container {
    height: 45vw;
  }
  .single-page--header--container .single-page--header {
    width: 60%;
  }
  .single-page--header--container .single-page--header p {
    width: 100%;
  }
  .single-page--header--container .image-wrapper {
    width: 40%;
  }
  .populated-items .project-item {
    height: 50vw;
  }
  .populated-items .project-item .row object a {
    font-size: 1.2vw;
  }
  .calculator {
    width: 36vw;
  }
  .calculator .key-container {
    flex-direction: column;
  }
  .calculator .key-container .number-keys {
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
  }
  .calculator .key-container .number-keys .number {
    font-size: 1vw;
  }
  .calculator .key-container .keys {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .message-container {
    width: 45vw;
  }
  .message-container h3 {
    color: #292929;
  }
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 2vw;
  }
  h6 {
    font-size: 1.8vw;
  }
  nav {
    padding: 1rem 5vw;
  }
  .populated-items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .populated-items .project-item {
    height: 45vw;
  }
  .populated-items .project-item .row object a {
    font-size: 1.8vw;
  }
  .single-page--header--container {
    flex-direction: column;
    height: auto;
  }
  .single-page--header--container .single-page--header {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 7vw;
    gap: 3vw;
  }
  .single-page--header--container .single-page--header p {
    width: 100%;
  }
  .single-page--header--container .single-page--header h1 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
  .single-page--header--container .single-page--header .visible {
    display: none;
  }
  .single-page--header--container .image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vw;
  }
  .single-page--header--container .image-wrapper img {
    width: 70%;
  }
  .hidden {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw 0;
  }
  .hidden .page-nav-arrows {
    display: flex;
    gap: 10vw;
  }
  header .header-text--container section {
    display: flex;
    justify-content: center;
  }
  header .header-text--container section .title {
    width: 80%;
  }
  header .header-text--container section .title span {
    font-size: 9vw;
  }
  header .header-text--container section .title span:last-child {
    font-size: 2vw;
  }
  header .header-text--container section .title span a {
    font-size: 3vw;
  }
  header .header-text--container .header-links--container {
    gap: 4vw;
  }
  .projects-items--container .graphic-item {
    height: 40vh;
    padding: 1vw;
  }
  .blog-container .content-section .section-content--container .pinned-icon {
    padding: 2vw;
    border-radius: 5vw;
    font-size: 2vw;
  }
  .blog-container .content-section .section-content--container .blog-item--container {
    flex-direction: column;
  }
  .blog-container .content-section .section-content--container .blog-item--container .blog-image--container, .blog-container .content-section .section-content--container .blog-item--container .blog-content--text {
    width: 100%;
  }
  .blog-container .content-section .section-content--container .blog-item--container .blog-image--container img, .blog-container .content-section .section-content--container .blog-item--container .blog-content--text img {
    height: 45vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .content-section .graphics-populated-items {
    gap: 7vw;
    padding: 5vw 8vw;
  }
  .content-section .graphics-items .card {
    width: 45%;
    height: 45vw;
  }
  .clock {
    padding: 1vw;
  }
  .clock .clock-time {
    font-size: 2vw;
  }
  .clock .clock-controls .clock-button {
    padding: 0.75vw;
    max-width: 5.5vw;
    height: 3vw;
    font-size: 1vw;
  }
  .calculator .key-container .number-keys {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .message-container {
    max-width: 32vw;
  }
  .message-container h3 {
    color: #292929;
  }
}
@media only screen and (max-width: 600px) {
  h6 {
    font-size: 1.8vw;
  }
  .back-button {
    margin-top: 6vw;
  }
  .analytics-section .analytics-container h3 {
    font-size: 4vw;
  }
  .single-page--details {
    flex-direction: column;
    padding: 7vw 20vw;
    gap: 3vw;
  }
  .single-page--details .card {
    width: 100%;
    height: auto;
  }
  footer .footer--container {
    flex-direction: column;
    gap: 1vw;
  }
  .scroll {
    height: 15vh;
    font-size: 2vw;
  }
  .content-section .project-previews {
    padding: 4vw 15vw;
  }
  .content-section .project-previews .quick-link--container {
    flex-direction: column;
  }
  .content-section .project-previews .quick-link--container .quick-link--box {
    width: 100%;
  }
  .content-section .project-previews p {
    text-align: center;
  }
  .gradient-section {
    height: 85vw;
  }
  .gradient-section .header-text--container .title {
    padding-top: 15vw;
    width: 80%;
  }
  .gradient-section .header-text--container .title span {
    font-size: 10vw;
  }
  .gradient-section .header-text--container .title span a {
    font-size: 4vw;
    margin-left: 2vw;
  }
  .gradient-section .header-text--container .title span a::after {
    height: 1vw;
  }
  .gradient-section .header-text--container .title span:last-child {
    font-size: 2vw;
  }
  .projects-items--container {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects-items--container .project-item {
    height: 41vh;
  }
  .populated-items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .populated-items .project-item {
    height: 45vw;
  }
  .populated-items .project-item .row object a {
    font-size: 1.8vw;
  }
  .clock {
    height: 55vh;
    width: 100%;
    padding: 1vw;
  }
  .clock .clock-time {
    font-size: 3.5vw;
  }
  .clock .clock-controls {
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    gap: 1vw;
    height: 100%;
  }
  .clock .clock-controls .clock-button {
    padding: 0.5vw;
    max-width: 12vw;
    height: 90%;
    font-size: 0.875vw;
  }
  .calculator {
    width: 100%;
  }
  .calculator .key-container .keys #calculate {
    grid-area: 4/1/3/4;
  }
  .color-picker {
    width: 100%;
  }
  .message-container {
    width: 23vw;
  }
  .message-container h3 {
    color: #292929;
  }
}
@media only screen and (max-width: 440px) {
  a {
    font-size: 3.8vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3vw;
  }
  h5 {
    font-size: 10vw;
  }
  h6 {
    font-size: 1.8vw;
  }
  p {
    font-size: 2.8vw;
  }
  .populated-items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 5vw 10vw;
    row-gap: 12vw;
  }
  .populated-items .project-item {
    height: 70vw;
  }
  .populated-items .project-item .row object a {
    font-size: 1.8vw;
  }
  nav .nav {
    align-items: flex-start;
  }
  header {
    height: 140vw;
    padding: 4vw;
  }
  header .header-text--container {
    padding-top: 9vh;
  }
  header .header-text--container section .title {
    width: 90%;
  }
  header .header-text--container section .title span {
    font-size: 12vw;
  }
  header .header-text--container section .title span:last-child {
    font-size: 3vw;
  }
  header .header-text--container section .title span a {
    font-size: 6vw;
    margin-left: 2vw;
  }
  header .header-text--container section .title span a::after {
    height: 1.3vw;
    bottom: -10%;
  }
  header .header-text--container .header-links--container {
    gap: 9vw;
  }
  header .header-text--container .header-links--container .header-links a {
    font-size: 5vw;
  }
  .gradient-section {
    height: 120vw;
  }
  .gradient-section .header-text--container {
    height: 65vw;
    margin-top: 10vh;
  }
  .gradient-section .header-text--container .title {
    width: 80%;
  }
  .gradient-section .header-text--container .title span {
    font-size: 10vw;
  }
  .gradient-section .header-text--container .title span a {
    font-size: 4vw;
    margin-left: 2vw;
  }
  .gradient-section .header-text--container .title span a::after {
    height: 1vw;
  }
  .gradient-section .header-text--container .title span:last-child {
    font-size: 2vw;
  }
  .content-section .section-content--container {
    padding: 8vw;
  }
  .projects-items--container .project-item {
    height: 28vh;
  }
  .projects-header {
    height: 85vw;
    padding-top: 18vw;
  }
  .projects-header .text-block {
    height: 55vw;
    gap: 5vw;
    padding: 0 8vw;
  }
  .projects-header .text-block h2 {
    line-height: 5vw;
  }
  .projects-header .text-block span {
    font-size: 7vw;
  }
  .pink-section .single-page--about--container {
    gap: 7vw;
  }
  .pink-section .single-page--about--container .product-filters {
    gap: 4vw;
  }
  .pink-section .single-page--about--container .product-filters .filter-link::after {
    bottom: -0.3vw;
  }
  .pink-section .single-page--about--container .product-filters .filter-link.active {
    transform: translateY(-3vw);
  }
  .pink-section .single-page--about--container .product-dynamic-content {
    display: flex;
    justify-content: center;
  }
  .pink-section .single-page--about--container .product-dynamic-content p {
    width: 85%;
  }
  .text-scroll-container {
    height: 13vw;
    margin-top: 11vw;
  }
  .text-scroll-container .text-scroll .text {
    font-size: 4vw;
  }
  .sticker img {
    width: 21vw;
    margin-right: 19vw;
  }
  .stardew-project--container {
    padding: 5vw;
  }
  .stardew-project--container .analytics-section {
    padding: 3vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .stardew-project--container .analytics-section .analytics-image {
    background-color: #ffdada;
    border-radius: 50%;
  }
  .stardew-project--container .analytics-section .analytics-image img {
    width: 50vw;
  }
  .stardew-project--container .analytics-section .analytics-container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    text-align: center;
  }
  .stardew-project--container .analytics-section .analytics-container .main-button, .stardew-project--container .analytics-section .analytics-container h3 {
    text-align: center;
    justify-content: center;
  }
  .stardew-project--container .analytics-section .analytics-container h3 {
    font-size: 5vw;
  }
  .stardew-project--container .analytics-section .analytics-container .analytics-content {
    justify-content: center;
  }
  .stardew-project--container .analytics-section .analytics-container .analytics-content .analytics {
    padding: 0.5vw 5vw;
  }
  .stardew-project--container .analytics-section .analytics-container .analytics-content .analytics h4 {
    font-size: 10vw;
  }
  .hidden {
    padding: 7vw 0;
  }
  .hidden .page-nav-arrows .previous-arrow img,
  .hidden .page-nav-arrows .next-arrow img {
    width: 20vw;
  }
  .clock {
    height: 35vh;
    width: 100%;
    padding: 1vw;
  }
  .clock .clock-time {
    font-size: 2.5vw;
  }
  .clock .clock-controls {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1vw;
    height: 100%;
  }
  .clock .clock-controls .clock-button {
    padding: 0.5vw;
    max-width: 12vw;
    height: 90%;
    font-size: 0.875vw;
  }
  .calculator {
    margin: 0;
  }
  .calculator .key-container .number-keys {
    grid-template-columns: repeat(5, 1fr);
  }
  .calculator .key-container .number-keys .number {
    font-size: 1vw;
  }
  .single-page--gallery {
    gap: 3vw;
  }
  .single-page--gallery img {
    height: 28vw;
  }
  .blog-container .content-section .section-content--container .pinned-icon {
    padding: 3vw;
    border-radius: 5vw;
    font-size: 3vw;
    left: 5%;
  }
  .page-break--line {
    padding: 1rem 1.5vw;
    width: 100%;
  }
  .title-breaker--container span {
    width: 4vw;
  }
  .message-container {
    width: 15vw;
  }
  .message-container h3 {
    color: #292929;
  }
}
.disclaimer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3vw;
  z-index: 1000;
}

.disclaimer-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 3vw;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 40%;
  gap: 2vw;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}
.disclaimer-popup h3 {
  color: #292929;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}/*# sourceMappingURL=App.css.map */